{{> header }}

<main class="container">
  <h1>Про проєкт</h1>
  <p>Цей вебзастосунок — онлайн-платформа для проходження тестів, подібна до <a href="https://itsquiz.com/" target="_blank">itsquiz.com</a>.</p>

  <h2>Функціонал:</h2>
  <ul>
    <li> Створення тестових запитань</li>
    <li> Формування тестів із декількох запитань</li>
    <li> Проходження тестів користувачами</li>
    <li> Збереження результатів проходження</li>
    <li> Управління користувачами (реєстрація / вхід)</li>
    <li> Додавання зображень до питань</li>
  </ul>

  <h2>Технології:</h2>
  <ul>
    <li>Node.js + Express</li>
    <li>Mustache шаблонізатор</li>
    <li>MongoDB (Mongoose)</li>
    <li>3-рівнева архітектура (MVC)</li>
  </ul>
</main>

{{> footer }}
