{{> header }}
<div class="container mt-4">
  <h1 class="text-center mb-4">Вхід</h1>
  <form action="/login" method="POST" class="p-4 bg-light border rounded">
    <input type="email" name="email" placeholder="Email" class="form-control mb-2" required>
    <input type="password" name="password" placeholder="Пароль" class="form-control mb-2" required>
    <button type="submit" class="btn btn-success w-100">Увійти</button>
  </form>
  <p class="text-center mt-3">Ще не зареєстровані? <a href="/register">Створити акаунт</a></p>
</div>
{{> footer }}